@page "/updateitem/{itemtoupdateid}"
@using Project.Entities
@using Serilog
@inject NavigationManager NavManager
@inject Project.Handler.IDataHandler _idatahander;

<section class="section_additem">

    <div class="top_area">
        <span id="left_arrow"> &#8592; </span>
        <span id="left_arrow_text"> Update Item </span>
    </div>

    <div class="form_container">

        <EditForm Model="ItemModel" OnValidSubmit="FormSubmitted">

        <div class="top_side">
            <figure class="left_side">
                <input type="text" placeholder="Item Name" @bind-value="ItemModel.name" id="item_name"/>
                <input type="text" placeholder="Item Quantity" @bind-value="ItemModel.quantity"  id="item_quantity"/>
                <input type="text" placeholder="Net Amount" @bind-value="ItemModel.net_amount" id="item_net_amount"/>

                <input type="text" placeholder="Gross Amount" disabled @bind-value="ItemModel.gross_amount"  id="item_gross_amount"/>
                <textarea id="item_description" rows="5" @bind="ItemModel.description" placeholder="Description"></textarea>
            </figure>
            <figure class="right_side">
                <select id="item_category" @bind="ItemModel.item_category">
                    <option> Item Category </option>
                    <option value="Category 1"> Item Category 1 </option>
                    <option value="Category 2"> Item Category 2 </option>
                </select>
                <select id="item_commission" @bind="ItemModel.item_unit">
                    <option value="unit 1"> Unit </option>
                    <option value="unit 2"> Unit 2 </option>
                </select>
                <select id="item_tax" @bind="ItemModel.tax">
                    <option selected value=0> Tax </option>
                    <option value=0.4> Tax 40% </option>
                    <option value=0.5> Tax 50% </option>
                </select>
                <select id="item_discount" @bind="ItemModel.discount">
                    <option value=0> Discount </option>
                    <option  value=0.2> Christmas Discount 20% </option>
                    <option value=0.3> Fast Sales 30% </option>
                </select>
            </figure>
        </div>

        <div class="middle_side"></div>
        
        <div class="buttom_side">
            <button type="submit" id="add_button"> Update </button>
            <a href="" id="cancel_button"> Cancel </a>
        </div>

        <DataAnnotationsValidator/>

        <ValidationSummary/>

        </EditForm>
        
    </div>
</section>


@code{
    [Parameter]
    public string itemtoupdateid {get;set;}
    private string netamount {get; set;} = string.Empty;
    private string taxpercent {get; set;} = string.Empty;
    private string discountpercent {get; set;} = string.Empty;

    public double GetGrossAmount{

        get{
            double temp_amount = 0;
            try{
                temp_amount = Convert.ToDouble(ItemModel.net_amount);
                temp_amount = (temp_amount) + (temp_amount * Convert.ToDouble(ItemModel.tax));
                temp_amount = (temp_amount) - (temp_amount * Convert.ToDouble(ItemModel.discount));

            }
            catch(Exception e){
                Log.Error(e.Message);
                temp_amount = 0;
            }
            return temp_amount;
        }

    }

    protected Item ItemModel {get;set;} = new Item();



        protected override void OnInitialized()
        {
            ItemModel = _idatahander.GetItem(itemtoupdateid);
        }
    
    public void FormSubmitted(){
        ItemModel.gross_amount = GetGrossAmount;
        try{
        Item new_item = new Item{
            id = System.Guid.NewGuid().ToString(),
            name =  ItemModel.name,
            quantity =  ItemModel.quantity,
            net_amount = ItemModel.net_amount,
            gross_amount =  ItemModel.gross_amount,
            item_category = ItemModel.item_category,
            item_unit = ItemModel.item_unit,
            tax =  ItemModel.tax,
            discount = ItemModel.discount
        };
        _idatahander.UpdateItem(itemtoupdateid,new_item);
        NavManager.NavigateTo("/allitems");

        }
        catch(Exception ex){
            Log.Error(ex.Message);
        }
    }
}