@inherits LayoutComponentBase

    <a href=""> Dashboard </a>
    <a href=""> Users </a>
    <a href="allitems" class="active"> All Items </a>
    <a href="additem"> Add Item </a>
    <a href="itemdetails"> Item Details </a>
    <a href=""> Look Ups </a>
    <a href=""> Diagnostics </a>
    <a href=""> Revenue </a>
    <a href=""> Feedback </a>
    <a href=""> Support </a>
